// WIFI credentials
#define WIFI_SSID ""
#define WIFI_PASSWORD ""

// Insert Firebase project API Key
#define FB_API_KEY ""
#define FB_DATABASE_URL ""

#define FB_USER_EMAIL ""
#define FB_USER_PASSWORD ""